# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Docker
.dockerignore
.docker/

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Build output
dist/

.env

package-lock.json
coverage/

#terraform 
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
# SQLite
*.sqlite
*.sqlite3
*.db
*.db3